@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="main">
    <h1>Blazing Pizzas</h1>
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (Model.PizzaSpecial pizza in specials)
            {
                <PizzaSpecial Pizza="@pizza"/>
            }
        }
    </ul>
</div>

@code {
    List<Model.PizzaSpecial> specials = new();

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient
            .GetFromJsonAsync<List<Model.PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }
}